article#about-me-extended
    h3
        i.fa.fa-star(alt="About Me")
        | &nbsp;About Me
    p
        | I am a software engineer with a passion for full-stack web development.<br>
        | My programming journey starts in the 9th grade, copying a program between two TI-83 calculators to calculate the quadratic formula automatically. Before university, I also started to write a few web pages. After a while, I recognize the importance of having a server to execute permanent actions.
        #cloud.p-3.mx-auto.d-block.w-75
            img.mx-auto.d-block.w-100(src='https://cv.diogoalmiro.com/languages-cloud.svg')
    p
        br
        | During university, I undertook two web-related summer internships. The first was at
        i Talkdesk
        | , where I collaborated with other interns to create a product for
        i Talkdesk
        | &apos;s marketplace using Redis, Spring Boot, Kotlin and ReactJS. The second was at
        i t_insight
        | , where I implemented some of the web pages for the new website of the Portuguese Basketball Federation using WordPress.
    p
        | My thesis was on studying web tools to modernize the workflow of administrative environments. During it, I had contact with the Portuguese Supreme Court of Justice (STJ) and the Archive and Records Management Section of the United Nations (ARMS). After my thesis, I was hired full-time by INESC-ID to continue the work with STJ and by Trigyn Technologies on an hour-based system to improve the solution found for ARMS.
    p
        | My main work for STJ&apos;s project was implementing a new software infrastructure for publishing its rulings. I used an ElasticSearch instance and a NextJS application for the infrastructure.
        br
        | I produced a ReactJS application to anonymize the documents before publishing them.
        br
        | I also deployed and oversaw this and all other applications from the project on the STJ&apos;s machines.
    p
        | Currently, I work at Broadvoice, maintaining the GoContact platform and developing an event driven integration app to be consumed by BrightMetrics for advanced analytics.
article#projects
    h3
        i.fa.fa-file-code(alt="Projects")
        | &nbsp;Projects
    section.project-item
        h4(data-timespan="September 2024") Pock
        p Personal project - Trip expenses managing application.
        ul.links
            li
                a(href="https://pock.diogoalmiro.com/") pock.diogoalmiro.com
            li
                a(href="https://github.com/diogoalmiro/pock-v2/") github.com/diogoalmiro/pock-v2
        ul.technologies
            li Next.JS
            li Bootstrap
            li TypeORM
    section.project-item
        h4(data-timespan="April 2021") FBugas
        p Personal project - Website to check if your phone number (Portugal only) was
        ul.links
            li
                a(href="https://www.bloomberg.com/news/articles/2021-04-03/facebook-data-on-533-million-users-leaked-business-insider") leaked from facebook
            li
                a(href="https://github.com/diogoalmiro/fbugas") github.com/diogoalmiro/fbugas
        ul.technologies
            li Node.JS
            li SQLite
            li Bootstrap
    section.project-item
        h4(data-timespan="October 2020") Screen Saver
        p Personal project - Website with the current weather and upcoming events from google calendar.
        ul.links
            li
                a(href="https://github.com/diogoalmiro/screen-saver") github.com/diogoalmiro/screen-saver
        ul.technologies
            li JavaScript
            li HTML5
            li Modules
            li APIs: Google Calendar wttr.in unsplash
    section.project-item
        h4(data-timespan="August 2019") Music Player
        p Personal project - Upgrade my browser's music player to a dynamic WebComponent based webpage
        ul.technologies
            li JavaScript
            li WebComponents
            li HTML5
    section.project-item
        h4(data-timespan="August 2019") Server Project III
        p Personal project - Upgrade personal server to use NGINX with Nodejs microservices (for example to authenticate the user or download music)
        ul.technologies
            li NGINX
            li NodeJS
            li Express
            li SQLite
    section.project-item
        h4(data-timespan="January 2019") Homeseek
        p Group project - Game created in 48 hours for the Global Game Jam
        ul.links
            li
                a(href="https://globalgamejam.org/2019/games/homeseek-0") globalgamejam.org/2019/games/homeseek-0
        ul.technologies
            li MagicaVoxel
            li Unity C#
    section.project-item
        h4(data-timespan="2018") Server Project II
        p Personal project - Configured diferent ddns to distinguish with NGINX private and public server names for the Raspberry Pi
        ul.technologies
            li NGINX
            li Express
        ul.links
            li
                a(href="https://github.com/diogoalmiro/server-project-ii") github.com/diogoalmiro/server-project-ii
    section.project-item
        h4(data-timespan="July 2016") ABRA
        p Group project - Game created in a week as a personal hackathon
        ul.links
            li
                a(href="https://abra.fly.dev/") abra.fly.dev
            li
                a(href="https://github.com/pineman/abra") github.com/pineman/abra
        ul.technologies
            li NodeJS
            li WebSockets
            li JavaScript
            li Less
            li HTML5
    section.project-item
        h4(data-timespan="2015") Server Project I
        p Personal project - File server with ability to download music from the internet and dynamic webpage with pure JavaScript
        ul.technologies
            li NodeJS
            li Express
            li JavaScript
            li CSS
            li HTML5
    section.project-item
        h4(data-timespan="2015-2021") Academic group projects
        p Academic group projects
        ul.links
            li
                a(href="https://cv.diogoalmiro.com/projects/") cv.diogoalmiro.com/projects/
        ul.technologies
            li LISP
            li Matlab
            li Python
            li Java
            li AWS
            li C
            li OpenMP
            li MPI
            li Flask
            li C#
            li C++
            li make
            li Java EE
            li JPA
            li JavaFX
            li RMI
            li EJB
            li SQL
            li CLIPS
            li MEAN Stack
            li iptables
            li snort
            li Prolog
            li RPC
            li Blender
article#formation
    h3
        i.fa.fa-check(alt="Formation")
        | &nbsp;Formation
    section.formation-item
        h4(data-timespan="26 October 2017") Specific Exam for fitness Evaluation Techinque of the Lifeguard
        h4(data-timespan="30 August 2016") Driver's Licence (B Category)
        h4(data-timespan="2010") Training Course in Photoshop at Forma Base
article#helping
    h3
        i.fa.fa-hands-helping(alt="Helping")
        | &nbsp;Helping
    section.helping-item
        h4(data-timespan="September 2014") Volunteering in the campaign "Académica Tudo!"
        p Volunteering in the campaign "Académica Tudo!"
